<nav class="navbar navbar-expand-sm bg-body-tertiary fixed-top opacity-75">
  <div class="container-fluid px-5">
    <a class="navbar-brand" href="{{ path('app_events') }}"><img src="{{ asset('pictures/logo.png') }}" alt="" /><span class="h3">EventNest</span></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav align-items-center me-5 ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-plus"></i> Add</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('app_create') }}">Event</a></li>
            <li><a class="dropdown-item" href="#">Event's type</a></li>
            <li><a class="dropdown-item" href="#">Event's manager</a></li>
            <li><a class="dropdown-item" href="#">Lokation</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
