{% extends 'base.html.twig' %} {% block title %}Edit | {{ parent() }}{% endblock %} {% block body %}

<div class="container m-5 pt-5">
  <h1 class="mb-3">Edit</h1>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
</div>
{% endblock %}
